<div class="Header">
    <h1>Employee file</h1>
</div>

<div class="Body">

    New text for verifying git pull request



    <div *ngIf="items.length == 0; then NoItems else ShowItems"></div>

    <ng-template #NoItems>
        There are no items
    </ng-template>

    <ng-template #ShowItems>
        <ul *ngIf="items.length != 0" class="wish-list">
            <li *ngFor="let item of items">
                <div class="form-check">
                    <label class="form-check-label">
                        <!-- <input type="checkbox" class="checkbox">{{item.wishText}} -->
                        <mat-checkbox class="checkbox" [checked]="item.IsComplete">
                            {{item.wishText}}
                        </mat-checkbox>
                    </label>
                </div>
            </li>
        </ul>
    </ng-template>


</div>


<button mat-raised-button>Hello</button>