<div class="Header">
    <h1>Employee file</h1>
</div>

<div class="Body">




    <form class="row mt-3 gx-3 gy-2 align-items-center justify-content-center">
        <div class="col-px-2">
            <label class="visually-hidden" for="specificSizeInputName">Wish</label>
            <input type="text" name="new-wish-text" class="form-control" [(ngModel)]="newWishText">
        </div>
        <div class="col-sm">
            <button type="submit" 
            class="btn btn-primary" 
            (click)="$event.preventDefault(); AddNewWish()">Add Wish</button>
        </div>
    </form>

    <div class="row mt-3">
        <div *ngIf="items.length == 0; then NoItems else ShowItems"></div>
        
        <ng-template #NoItems>
            There are no items
        </ng-template>
        
        <ng-template #ShowItems>
            <ul *ngIf="items.length != 0" class="wish-list">
                <li *ngFor="let item of items; index as ii">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="checkbox" type="checkbox" [checked]="item.IsComplete" [attr.data-index]="ii"
                                (click)="toggleItem(item)">
                            {{item.wishText}}
        
        
                            <!-- <mat-checkbox 
                                class="checkbox" 
                                [checked]="item.IsComplete"
                                [attr.data-index] ="ii"
                                ()
                                >
                                    {{item.wishText}}
                                </mat-checkbox> -->
                        </label>
                    </div>
                </li>
            </ul>
        </ng-template>
    </div>

</div>


<button mat-raised-button>Hello</button>